 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import 'font-awesome-sprockets';
@import 'font-awesome';

 * {
  background-color: #F3FFD8;
 }

.btn {
  margin-left: 5px;
}

h5 span {
  background-color: #EEEEEE;
  padding: 0 1.8rem;
}

h5 {
  margin: 50px 0 30px 0;
}

.ships-form-group {
  .field {
    margin-bottom: 15px;
  }

  .ship_postal_code {
    width: 160px;
  }
  .ship_address {
    width: 320px;
  }
  .ship_name {
    width: 160px;
  }
  .float-right {
    margin-left: 400px;
    width: 130px;
  }
}

.space-box {
  height: 90px;
}

.ships-table {
  width: 700px;

  .blank {
    width: 240px;
  }
  tbody {
    td {
      height: 25px;
      line-height: 25px;
    }
  }

}

#search-label {
  cursor: pointer;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

#search-button {
}