// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  // border: solid 1px #000000;
  // border-collapse: collapse;
  margin-top: 10px;
}

.registration_information th {
  font-weight: normal;
  background-color: lightgray;
}