// Place all the styles related to the products controller here.
// They will automatically be included in application.css.

.jumbotron {
  			background-image: url("top.jpg");
  			background-size: cover;
  			background-position: center 30%;
  			width: 650px;
        height: 260px;
        text-shadow: 2px 2px 1px #000,
			}

.list{
  display: inline-block;
}

body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.pagination {
  justify-content: center;
}

::placeholder {
  color: white;
  text-align: left;
}

