<div class="row">
  <div class="col">
    <h2>管理者画面</h2>
    <div class="today_order row">
      <p class="col-3">本日の注文件数</p>
      <p class="col-9"><%= link_to @today_order.count, orders_path %>件</p>
    </div>
  </div>
</div>