<h1>Products#top</h1>
<p>Find me in app/views/products/top.html.erb</p>

<% if customer_signed_in? %>
      <li class="">
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
       </li>
 <% end %>

<div class="container">
  <div class="row" >
    <div class="col-lg-4" style="background-color: orange;">
        <h2>サイドバー</h2>
    </div>
    <div class="col-lg-8" style="background-color: green;">
        <h2>サイドバー</h2>
    </div>
  </div>
</div>